body{
  margin:30px 80px;
}

p{
  color:#808080;
}

a{
  color:#0366d6;
}

.not-under-line{
  text-decoration:none;
}

.nav-top-inline-block{
  list-style-type:none;
  margin-right:10px;
  text-align:right;
}

.nav-top-box-list{
  display:inline-block;
  padding-left:32px;
  margin-top:13px;
}

 .layout-header{
  position:absolute;
  right:50%;
  margin-left:80px;
}

.layout-main{
  position:absolute;
  left:50%;
  margin-top:20px;
}

.layout-main-border-radius{
  padding-right:250px;
  margin:10px 0px 10px 0px;
  background: #FFF;
  border: solid 2px #C0C0C0;
  border-radius: 10px;
}

.layout-main-header{
  margin-left:30px;
}

.nav-under-box{
  position:relative;
  top:700px;
  background:#C0C0C0;
}

.references{
  text-align:center;
}

.nav-under-box-right{
  position:absolute;
  left:400px;
  bottom:50px;
}
